In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
import sentencepiece as spm
import torch

PATH = 'C:\Emotion Classification\data\\full_dataset\goemotions_1.csv'
TOKENIZER = 'C:\Emotion Classification\\traning\\vocab\\tokenizer.model'

<>:6: SyntaxWarning: invalid escape sequence '\E'
<>:7: SyntaxWarning: invalid escape sequence '\E'
<>:6: SyntaxWarning: invalid escape sequence '\E'
<>:7: SyntaxWarning: invalid escape sequence '\E'
C:\Users\illya\AppData\Local\Temp\ipykernel_23396\3030111412.py:6: SyntaxWarning: invalid escape sequence '\E'
  PATH = 'C:\Emotion Classification\data\\full_dataset\goemotions_1.csv'
C:\Users\illya\AppData\Local\Temp\ipykernel_23396\3030111412.py:7: SyntaxWarning: invalid escape sequence '\E'
  TOKENIZER = 'C:\Emotion Classification\\traning\\vocab\\tokenizer.model'

In [100]:
sp = spm.SentencePieceProcessor()
sp.load(TOKENIZER)

data = pd.read_csv(PATH, sep=',')
data.sample(5)

,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
30946,If he does still pull through on the appointme...,efe1ooy,DoctorWho426,tifu,t3_alfq4j,t3_alfq4j,1.548882e+09,61,True,0,...,0,0,0,0,0,0,0,0,0,0
14666,>[NAME] dead body lie the mud and she have smu...,eekn7e7,Mrsmaul2016,freefolk,t3_ai2qpx,t1_eekmoo6,1.548023e+09,35,False,0,...,0,0,0,0,0,0,0,0,0,1
38765,No op. No one had ever done that.,eeshdde,midlothian,DoesAnybodyElse,t3_aitlic,t3_aitlic,1.548275e+09,22,False,0,...,0,0,0,0,0,0,0,0,0,1
61139,Sensationalism as usual,eedkcy7,_WeAreAllToBlame_,Documentaries,t3_ahch5o,t1_eedd9tz,1.547838e+09,61,False,0,...,0,0,0,0,0,0,0,0,0,0
69894,"Ah yes, taxes=Nazism. You [NAME] sure are a fu...",eehtuly,thenseruame,nottheonion,t3_ahr8qo,t1_eeht0t3,1.547951e+09,52,False,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
data.columns

Index(['text', 'id', 'author', 'subreddit', 'link_id', 'parent_id',
       'created_utc', 'rater_id', 'example_very_unclear', 'admiration',
       'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion',
       'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust',
       'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy',
       'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief',
       'remorse', 'sadness', 'surprise', 'neutral'],
      dtype='object')

In [102]:
data = data.drop(columns=['id', 'author', 'subreddit', 'link_id', 'parent_id',
       'created_utc', 'rater_id'], axis=1)
data.columns, data.sample(5)

(Index(['text', 'example_very_unclear', 'admiration', 'amusement', 'anger',
        'annoyance', 'approval', 'caring', 'confusion', 'curiosity', 'desire',
        'disappointment', 'disapproval', 'disgust', 'embarrassment',
        'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love',
        'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse',
        'sadness', 'surprise', 'neutral'],
       dtype='object'),
                                                     text  \
 14378  And wr is not what I want us to focus on anywa...
 58529                Sorry for having a working brain :3
 559    Do you have a link to any news or something? I...
 57681                 That would have been cool for sure
 30742  You're going to seriously regret this in a few...

        example_very_unclear  admiration  amusement  anger  annoyance  \
 14378                  True           0          0      0          0
 58529                 False           0          0      0          0
 559                   False           0          0      0          0
 57681                 False           0          0      0          0
 30742                 False           0          0      0          0

        approval  caring  confusion  curiosity  ...  love  nervousness  \
 14378         0       0          0          0  ...     0            0
 58529         0       0          0          0  ...     0            0
 559           0       0          0          1  ...     1            0
 57681         1       0          0          0  ...     0            0
 30742         0       0          0          0  ...     0            0

        optimism  pride  realization  relief  remorse  sadness  surprise  \
 14378         0      0            0       0        0        0         0
 58529         0      0            0       0        0        1         0
 559           0      0            0       0        0        0         0
 57681         0      0            0       0        0        0         0
 30742         0      0            0       0        1        0         0

        neutral
 14378        0
 58529        0
 559          0
 57681        0
 30742        0

 [5 rows x 30 columns])

In [103]:
data.dtypes

text                    object
example_very_unclear      bool
admiration               int64
amusement                int64
anger                    int64
annoyance                int64
approval                 int64
caring                   int64
confusion                int64
curiosity                int64
desire                   int64
disappointment           int64
disapproval              int64
disgust                  int64
embarrassment            int64
excitement               int64
fear                     int64
gratitude                int64
grief                    int64
joy                      int64
love                     int64
nervousness              int64
optimism                 int64
pride                    int64
realization              int64
relief                   int64
remorse                  int64
sadness                  int64
surprise                 int64
neutral                  int64
dtype: object

In [104]:
data.text[1]

' >sexuality shouldnâ€™t be a grouping category It makes you different from othet ppl so imo it fits the definition of "grouping" '

In [105]:
def transform_data(data):
    data["text"] = data["text"].apply(lambda x: sp.encode(x, out_type=int))
    return data

In [106]:
transform_data(data)

,text,example_very_unclear,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,"[41470, 41586, 15702, 358, 1382, 41488]",False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,"[415, 17557, 1822, 41499, 41472, 43, 5, 15153,...",True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"[41470, 0, 11, 99, 309, 41495, 142, 33, 143, 4...",False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,"[41470, 41585, 28, 41470, 0, 191, 922, 41488]",False,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"[60, 0, 41585, 0, 41498, 97, 4447, 2257, 235, ...",False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,"[41470, 0, 41472, 41494, 41477, 164, 693, 221,...",False,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69996,"[41470, 41586, 8333, 52, 405, 41496, 41470, 0,...",False,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69997,"[41470, 0, 41499, 41483, 404, 41488, 41470, 0,...",False,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
69998,"[41470, 0, 41473, 109, 41, 336, 43]",False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
69999,"[41470, 41586, 8333, 52, 63, 3686, 41488, 4147...",False,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [107]:
data.example_very_unclear = data.example_very_unclear.astype(int)

In [108]:
data

,text,example_very_unclear,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,"[41470, 41586, 15702, 358, 1382, 41488]",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,"[415, 17557, 1822, 41499, 41472, 43, 5, 15153,...",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"[41470, 0, 11, 99, 309, 41495, 142, 33, 143, 4...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,"[41470, 41585, 28, 41470, 0, 191, 922, 41488]",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"[60, 0, 41585, 0, 41498, 97, 4447, 2257, 235, ...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,"[41470, 0, 41472, 41494, 41477, 164, 693, 221,...",0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69996,"[41470, 41586, 8333, 52, 405, 41496, 41470, 0,...",0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69997,"[41470, 0, 41499, 41483, 404, 41488, 41470, 0,...",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
69998,"[41470, 0, 41473, 109, 41, 336, 43]",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
69999,"[41470, 41586, 8333, 52, 63, 3686, 41488, 4147...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [109]:
data.to_csv('C:\Emotion Classification\\traning\in_model_data\\data.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\illya\AppData\Local\Temp\ipykernel_23396\3697775941.py:1: SyntaxWarning: invalid escape sequence '\E'
  data.to_csv('C:\Emotion Classification\\traning\in_model_data\\data.csv', index=False)

In [110]:
data.dtypes

text                    object
example_very_unclear     int64
admiration               int64
amusement                int64
anger                    int64
annoyance                int64
approval                 int64
caring                   int64
confusion                int64
curiosity                int64
desire                   int64
disappointment           int64
disapproval              int64
disgust                  int64
embarrassment            int64
excitement               int64
fear                     int64
gratitude                int64
grief                    int64
joy                      int64
love                     int64
nervousness              int64
optimism                 int64
pride                    int64
realization              int64
relief                   int64
remorse                  int64
sadness                  int64
surprise                 int64
neutral                  int64
dtype: object